<div class="form-group">
<!--<button class="btn btn-primary btn-lg" id="new-button" (click)="newRecord()"
data-toggle="modal" data-target="#CategoryModal">New</button>
-->
<button  class="btn btn-primary btn-lg" id="new-button" (click)="newRecord()">New</button>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <th>ID</th>
    <th>Name</th>
    <th>Command</th>
  </thead>
  <tbody>
    <tr mdbTableCol  *ngFor="let category of categoryData | paginate: { itemsPerPage:itemsPage, currentPage:p}">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
      <div class="btn-toolbar">
       <a class="btn btn-info" (click)="editRecord(category)">Edit</a>
       <a class="btn btn-danger" (click)="deleteRecord(category)">Delete</a> 
      </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
